Take from raw files

Directory:

/cluster/gjb_lab/2472402/data/retr231_raw_files/training/1348


Has SCOPe ID and secondary structure

In [11]:
import os
import pandas as pd
import glob
import csv

In [12]:
os.chdir('/cluster/gjb_lab/2472402/data/retr231_raw_files/training/1348')

! sed -s '1d' *.dssp > /cluster/gjb_lab/2524591/data/Jpred/1348_ss_only.csv
! sed -s '2d' *.dssp > /cluster/gjb_lab/2524591/data/Jpred/1348_scop.csv

In [23]:
os.chdir('/cluster/gjb_lab/2524591/data/Jpred')

x = pd.read_csv('1348_scop.csv', header=None)
y = pd.read_csv('1348_ss_only.csv', header=None)

x_1 = []
          
# Need to get rid of >

with open('1348_scop.csv', 'r') as file:
    data_read = csv.reader(file)
    for i,row in x.iterrows():
        aa = row[0][1:]
        x_1.append(aa)

df = pd.DataFrame(x_1)
# Merge scop and ss
#print(df)
data = pd.concat([df,y], axis=1)
data.columns = ['SCOPeID', 'J_SS']
data.to_csv('scop_ss.csv')
#print(data)


df_2 = pd.DataFrame(data)
df_2

       SCOPeID                                               J_SS
0      d1a12a_  --------------EEEEEEEE-------------EEEEEEEE---...
1      d1a1xa_  ----------EEEEEE--EEEE----EEEEEEEE----EEEEEE--...
2      d1a62a1    -EHHHHH---HHHHHHHHH-----------HHHHHHHHHHHHHH---
3      d1a9xa1  -----------------HHHHHHHHHH--E--HHHHHHHHHH--E-...
4      d1acoa1  ---------E-------------EEEEEEEEEE----EHHHH----...
...        ...                                                ...
1343  e1n13.1B  -E----EE----------EEEEEEEEEEE-----EEEEEEEEEEE-...
1344  e1qd6.1C  --EEE----EEEEEEE-------------------EEEEEEEEEEE...
1345  e1qqp.12  ------------EEEEE--EEEEE------EE--------------...
1346  e1qtn.1A  --E---------EEEEEE----HHHHHH------------HHHHHH...
1347  e1qtn.1B  ---------EEEEE-----E--EEE---EEHHHHHHHHHHHHH---...

[1348 rows x 2 columns]

       SCOPeID                                               J_SS
0      d1a12a_  --------------EEEEEEEE-------------EEEEEEEE---...
1      d1a1xa_  ----------EEEEEE--EEEE----EEEEEEEE----EEEEEE--...
2      d1a62a1    -EHHHHH---HHHHHHHHH-----------HHHHHHHHHHHHHH---
3      d1a9xa1  -----------------HHHHHHHHHH--E--HHHHHHHHHH--E-...
4      d1acoa1  ---------E-------------EEEEEEEEEE----EHHHH----...
...        ...                                                ...
1343  e1n13.1B  -E----EE----------EEEEEEEEEEE-----EEEEEEEEEEE-...
1344  e1qd6.1C  --EEE----EEEEEEE-------------------EEEEEEEEEEE...
1345  e1qqp.12  ------------EEEEE--EEEEE------EE--------------...
1346  e1qtn.1A  --E---------EEEEEE----HHHHHH------------HHHHHH...
1347  e1qtn.1B  ---------EEEEE-----E--EEE---EEHHHHHHHHHHHHH---...

[1348 rows x 2 columns]

 -- need to also get amino acid sequence (see later)
 
 Jpred file with scop, pdb, SS:

In [25]:
os.chdir('/cluster/gjb_lab/2524591/data/Jpred')

# Convert SCOPeID to PDB_ID
x = []
with open('scop_ss.csv', 'r') as file:
    data_read = csv.reader(file)
    for i,row in df.iterrows():
        pdb_id = row[0][1:5]
        x.append(pdb_id)

df_2 = pd.DataFrame(x)
df_2.columns = ['PDB_ID']
df_2

df_both = pd.concat([df_2, data], axis=1)
df_both.to_csv('jpred_pdb-scop-ss.csv')
df_both

# Fix obsolete pdb_id's (deprecated - 3):

depr_df = df_both.replace('1ti6', '4v4e')
df_final = depr_df.replace('2o37' '4rwu')
final = df_final.replace('3arc', '3wu2')
final.columns = ['PDB_ID', 'SCOPeID', 'J_SS']
final.to_csv('jpred_pdb-scop-ss_dep.csv')
final

     PDB_ID   SCOPeID                                               J_SS
0      1a12   d1a12a_  --------------EEEEEEEE-------------EEEEEEEE---...
1      1a1x   d1a1xa_  ----------EEEEEE--EEEE----EEEEEEEE----EEEEEE--...
2      1a62   d1a62a1    -EHHHHH---HHHHHHHHH-----------HHHHHHHHHHHHHH---
3      1a9x   d1a9xa1  -----------------HHHHHHHHHH--E--HHHHHHHHHH--E-...
4      1aco   d1acoa1  ---------E-------------EEEEEEEEEE----EHHHH----...
...     ...       ...                                                ...
1343   1n13  e1n13.1B  -E----EE----------EEEEEEEEEEE-----EEEEEEEEEEE-...
1344   1qd6  e1qd6.1C  --EEE----EEEEEEE-------------------EEEEEEEEEEE...
1345   1qqp  e1qqp.12  ------------EEEEE--EEEEE------EE--------------...
1346   1qtn  e1qtn.1A  --E---------EEEEEE----HHHHHH------------HHHHHH...
1347   1qtn  e1qtn.1B  ---------EEEEE-----E--EEE---EEHHHHHHHHHHHHH---...

[1348 rows x 3 columns]

Need amino acid sequence - try to get from fasta files from retr231_raw_files -- got it from website (excel manipulation)

In [26]:
os.chdir('/cluster/gjb_lab/2524591/data/Jpred')

df = pd.read_csv('aa_pdb_jpred.csv')
#print(df)
x = []
df_2= df.dropna()

#get rid of sequ

with open('aa_pdb_jpred.csv', 'r') as file:
    data_read = csv.reader(file)
    for i,row in df_2.iterrows():
        aa = row[1][6:]
        x.append(aa)

df_3 = pd.DataFrame(x)
df_3.columns = ['J_AA Sequence']
df_3
df_3['SCOPeID'] = df.iloc[:, 0]

x = pd.merge(final, df_3, on='SCOPeID', how = 'right')
x.to_csv('/cluster/gjb_lab/2524591/data/Jpred/jpred_final.csv')
x

,PDB_ID,SCOPeID,J_SS,J_AA Sequence
0,1a12,d1a12a_,--------------EEEEEEEE-------------EEEEEEEE---...,KKVKVSHRSHSTEPGLVLTLGQGDVGQLGLGENVMERKKPALVSIP...
1,1a1x,d1a1xa_,----------EEEEEE--EEEE----EEEEEEEE----EEEEEE--...,AGEDVGAPPDHLWVHQEGIYRDEYQRTWVAVVEEETSFLRARVQQI...
2,1a62,d1a62a1,-EHHHHH---HHHHHHHHH-----------HHHHHHHHHHHHHH---,MNLTELKNTPVSELITLGENMGLENLARMRKQDIIFAILKQHAKSGE
3,1a9x,d1a9xa1,-----------------HHHHHHHHHH--E--HHHHHHHHHH--E-...,EVGATGFDPKVSLDDPEALTKIRRELKDAGADRIWYIADAFRAGLS...
4,1aco,d1acoa1,---------E-------------EEEEEEEEEE----EHHHH----...,VDVSPTSQRLQLLEPFDKWDGKDLEDLQILIKVKGKCTTDHISAAG...
...,...,...,...,...
1343,1n13,e1n13.1B,-E----EE----------EEEEEEEEEEE-----EEEEEEEEEEE-...,IMPPEAEIVPLPKLPMGALVPTAYGYIISDVPGETISAAISVAIPK...
1344,1qd6,e1qd6.1C,--EEE----EEEEEEE-------------------EEEEEEEEEEE...,FTLYPYDTNYLIYTQTSDLNKEAIASYDWAENARKDEVKFQLSLAF...
1345,1qqp,e1qqp.12,------------EEEEE--EEEEE------EE--------------...,DKKTTTLLEDRILTTRNGHTTSTTQSSVGVTYGYATAEDFVSGPNT...
1346,1qtn,e1qtn.1A,--E---------EEEEEE----HHHHHH------------HHHHHH...,DKVYQMKSKPRGYCLIINNHNFAKAREKVPKLHSIRDRNGTHLDAG...
1347,1qtn,e1qtn.1B,---------EEEEE-----E--EEE---EEHHHHHHHHHHHHH---...,TRYIPDEADFLLGMATVNNCVSYRNPAEGTWYIQSLCQSLRERCPR...

In [53]:
# New - found something wrong with data
import os
import glob

os.chdir('/Users/Sophia/Dundee/retr231/training')

x = glob.glob('d1a1xa_.fasta')

y = open ('d1a1xa_.fasta', 'r')
z = open('d1a1xa_.jnet', 'r')

a = y.read()
b = z.read()
y.close()



# # scop = file[:-6]
# x_1 = open(file, 'r')
# x_2 = open(scop + '.jnet', 'r')
# a = x_1.read()
# b = x_2.read()
df = pd.DataFrame([x.split(';') for x in a.split('\n')])
df2 = pd.DataFrame([x.split(';') for x in b.split('\n')])
df2 = df2.iloc[1]
df = df.iloc[:2]
# df.index = ['SCOPe' ,'Sequence']
# df2.index = ['SCOPe']
df_f = pd.concat([df, df2], axis = 1)
# print(df, df2)


df_f['SCOPeID'] = df_f.iloc[0][0][1:]


# print(df_f)
df_f[0] = df_f[0][1]
df_f[1] = df_f[1][0]
df_f = df_f.drop_duplicates()
df_f[1] = df_f[1][0][9:]
df_f[1]=df_f[1].str.replace(',','')

df_f.columns = ['J_AA Sequence', 'J_SS', 'SCOPeID']
df_f.reindex = ['SCOPeID', 'J_SS', 'J_AA Sequence']

# print(df_f[0])
print(df_f)

                                       J_AA Sequence  \
0  AGEDVGAPPDHLWVHQEGIYRDEYQRTWVAVVEEETSFLRARVQQI...

                                                J_SS  SCOPeID
0  ----------EEEEE---EEEE----EEEEEEEE----EEEEEEE-...  d1a1xa_

In [19]:
a

type(a)

df = pd.DataFrame([x.split(';') for x in a.split('\n')])
print(df)

                                                   0
0                                           >d1a1xa_
1  AGEDVGAPPDHLWVHQEGIYRDEYQRTWVAVVEEETSFLRARVQQI...
2

In [14]:
b

'\njnetpred:-,-,-,-,-,-,-,-,-,-,E,E,E,E,E,-,-,-,E,E,E,E,-,-,-,-,E,E,E,E,E,E,E,E,-,-,-,-,E,E,E,E,E,E,E,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,H,H,H,H,-,-,-,-,-,E,-,-,-,-,-,-,E,E,E,E,E,E,E,E,E,-,-,-,H,H,H,H,H,H,H,H,-,-,-,-,\nJNETCONF:8,9,8,8,7,7,7,7,7,5,2,7,8,8,4,4,7,4,1,8,8,2,5,8,8,5,5,8,8,9,9,9,8,6,5,8,8,3,6,7,8,8,8,8,5,3,6,7,7,7,7,6,6,7,7,7,7,7,7,7,7,6,5,1,3,1,2,5,4,1,2,4,7,5,0,1,2,4,7,8,7,4,5,8,8,8,8,6,2,2,1,5,7,5,6,8,8,8,8,8,6,2,5,9,9,9,\nJNETSOL25:-,-,-,-,B,-,-,-,B,B,B,B,B,B,B,-,-,-,B,B,-,B,-,-,-,B,B,B,B,B,B,B,B,-,-,-,-,-,B,B,B,B,B,-,-,B,-,B,B,-,-,-,B,B,-,-,B,-,B,B,B,B,B,B,B,-,B,B,-,B,B,B,-,-,-,B,-,-,B,-,B,B,B,B,B,B,B,B,B,B,-,-,-,-,B,B,-,B,B,B,-,B,-,-,-,-,\nJNETSOL5:-,-,-,-,-,-,-,-,-,-,-,B,B,B,-,-,-,-,-,-,-,-,-,-,-,-,-,B,B,-,B,-,-,-,-,-,-,-,-,-,B,-,B,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,B,-,-,-,B,-,B,-,-,-,-,-,-,-,-,-,-,-,-,B,B,-,B,B,-,-,B,-,-,-,-,-,-,-,B,B,B,-,-,-,-,-,-,\nJNETSOL0:-,-,-,-,-,-,-,-,-,-,-,B,-,B,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,B,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,B,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,\nJNETHMM:-,-,-,-,-,-,-,-,-,-,E,E,E,E,E,-,-,-,-,E,E,E,-,-,-,-,E,E,E,E,E,E,E,E,-,-,-,-,E,E,E,E,E,E,E,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,H,H,-,-,-,-,-,-,E,-,-,-,-,-,-,E,E,E,E,E,E,E,E,E,-,-,-,H,H,H,H,H,H,H,H,-,-,-,-,\nJNETPSSM:-,-,-,-,-,-,-,-,-,-,E,E,E,E,E,-,-,-,E,E,E,E,-,-,-,-,E,E,E,E,E,E,E,E,-,-,-,E,E,E,E,E,E,E,E,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,H,H,H,H,H,H,E,-,-,-,-,E,E,-,-,-,-,-,E,E,E,E,E,E,E,E,E,-,-,-,H,H,H,H,H,H,H,H,-,-,-,-,\nJNETJURY: , , , , , , , , , , , , , , , , , ,*, , , , , , , , , , , , , , , , , , ,*, , , , , , , , , , , , , , , , , , , , , , , , , , ,*,*,*, , ,*,*, , , , , ,*, , , , , , , , , , , , , , , , , , , , , , , , , , , , , ,\nJNETPROPE:0.0540,0.0508,0.0661,0.0962,0.1115,0.1120,0.1186,0.1139,0.1319,0.3312,0.7622,0.8889,0.9173,0.8889,0.7330,0.2958,0.1082,0.1341,0.3441,0.8076,0.8820,0.7908,0.3692,0.1300,0.1037,0.2232,0.7602,0.9086,0.9376,0.9430,0.9333,0.9309,0.8989,0.7601,0.2581,0.0736,0.0674,0.2225,0.7546,0.9132,0.9430,0.9348,0.9144,0.8721,0.7213,0.3506,0.1659,0.1274,0.1239,0.1349,0.1380,0.1477,0.1331,0.1307,0.1311,0.1311,0.1311,0.1197,0.1071,0.1011,0.1142,0.1260,0.1349,0.1128,0.0842,0.0770,0.1276,0.2129,0.3185,0.2737,0.1242,0.0920,0.0927,0.1514,0.3649,0.3472,0.2078,0.1091,0.1381,0.1292,0.1533,0.1957,0.4607,0.5072,0.5985,0.7283,0.7327,0.6937,0.5826,0.7142,0.6222,0.2348,0.0895,0.0461,0.0789,0.0679,0.0521,0.0434,0.0275,0.0369,0.0684,0.0919,0.0764,0.0227,0.0094,0.0082,\nJNETPROPH:0.0228,0.0184,0.0236,0.0303,0.0324,0.0370,0.0386,0.0319,0.0250,0.0244,0.0245,0.0237,0.0239,0.0242,0.0229,0.0151,0.0172,0.0154,0.0190,0.0296,0.0296,0.0229,0.0119,0.0110,0.0101,0.0112,0.0191,0.0185,0.0130,0.0101,0.0123,0.0175,0.0196,0.0193,0.0084,0.0056,0.0068,0.0085,0.0164,0.0183,0.0134,0.0144,0.0182,0.0239,0.0280,0.0256,0.0345,0.0439,0.0564,0.0657,0.0742,0.0745,0.0760,0.0794,0.0896,0.0896,0.0896,0.0956,0.1022,0.1042,0.0920,0.1003,0.1097,0.1301,0.1893,0.2488,0.3805,0.4028,0.3548,0.2847,0.1790,0.1085,0.0852,0.1027,0.1948,0.2137,0.0921,0.0780,0.0521,0.0606,0.0547,0.0744,0.1269,0.0979,0.0886,0.0927,0.0631,0.0377,0.0235,0.0505,0.0498,0.0315,0.0501,0.2153,0.7097,0.8166,0.8765,0.8979,0.8708,0.8453,0.7973,0.6074,0.3287,0.0431,0.0087,0.0056,\nJNETPROPC:0.9106,0.9359,0.9188,0.8783,0.8553,0.8459,0.8398,0.8512,0.8397,0.6621,0.2536,0.1115,0.0817,0.1153,0.2872,0.7124,0.8825,0.8598,0.6416,0.1906,0.1218,0.2334,0.6615,0.8670,0.8962,0.7752,0.2454,0.0923,0.0690,0.0657,0.0683,0.0704,0.1051,0.2551,0.7677,0.9347,0.9331,0.7816,0.2515,0.0879,0.0627,0.0681,0.0848,0.1327,0.2806,0.6244,0.8029,0.8367,0.8277,0.8073,0.7931,0.7818,0.7979,0.7976,0.7953,0.7953,0.7953,0.8002,0.8042,0.8112,0.8091,0.8073,0.7923,0.7821,0.7533,0.6667,0.3985,0.2620,0.2097,0.2934,0.5965,0.7715,0.8083,0.6958,0.3658,0.3271,0.5514,0.7829,0.8239,0.8208,0.7786,0.6274,0.2763,0.2288,0.1814,0.1142,0.1273,0.2280,0.3974,0.2639,0.3815,0.7288,0.8325,0.7078,0.2032,0.1242,0.0827,0.0649,0.0800,0.0727,0.0656,0.1375,0.3755,0.9069,0.9856,0.9906,\n'

In [2]:
# Take from retr231
# 
import os
import pandas as pd
import glob
import numpy as np
from os import path

In [3]:
# Function to save different versions of the same pdb's:

def check_file(filePath):
    if path.exists(filePath):
        numb = 1
        while True:
            newPath = "{0}_{2}{1}".format(*path.splitext(filePath) + (numb,))
            if path.exists(newPath):
                numb += 1
            else:
                return newPath
    return filePath

In [6]:
os.chdir('/Users/Sophia/Dundee/retr231/training')

# Sequence
x = glob.glob('*.fasta')

# Prediction
# y = glob.glob('*.jnet')

for file in x:
    scop = file[:-6]
    pdb = scop[1:5]
    x_1 = open(file, 'r')
    x_2 = open(scop + '.jnet', 'r')
    a = x_1.read()
    b = x_2.read()
    
    df = pd.DataFrame([x.split(';') for x in a.split('\n')])
    df = df.iloc[:2]
    df2 = pd.DataFrame([x.split(';') for x in b.split('\n')])
    df2 = df2.iloc[1]

    df_f = pd.concat([df, df2], axis = 1)

    df_f['SCOPeID'] = df_f.iloc[0][0][1:]

    df_f[0] = df_f[0][1]
    df_f[1] = df_f[1][0]
    df_f = df_f.drop_duplicates()
    df_f[1] = df_f[1][0][9:]
    df_f[1]=df_f[1].str.replace(',','')
    
    df_f.columns = ['J_AA Sequence', 'J_SS', 'SCOPeID']
    df_f['PDB_ID'] = pdb
    df_f.reindex = ['PDB_ID', 'SCOPeID', 'J_SS', 'J_AA Sequence']

    
    filename = check_file('/Users/Sophia/Dundee/tuesday/jpred/%s.csv' % pdb)
    df_f.to_csv(filename)

In [15]:
# Merge
os.chdir('/Users/Sophia/Dundee/tuesday/jpred')
x = glob.glob('*.csv')

df = pd.concat(
    map(pd.read_csv, [file for file in x]), ignore_index=True)

df = df.iloc[:, 1:]
df = pd.DataFrame(df)
df = df[['PDB_ID', 'SCOPeID', 'J_SS', 'J_AA Sequence']]
print(df)
df.to_csv('/Users/Sophia/Dundee/tuesday/jpred_final.csv')

     PDB_ID  SCOPeID                                               J_SS  \
0      3sxu  d3sxua_  --EEEEE---------HHHHHHHHHHHHHHHHHH---EEEEE--HH...
1      3f42  d3f42a_  ---HHHHHHHHHHHHHHHHHHHHHHH-EEEEEEE---EEEEEEE--...
2      2lig  d2liga_  ----EEEEH---HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH...
3      2pu9  d2pu9a_  --HHHHHHHHHHHHHHH---EE---HHHHHHHHHHHHHHHHHH---...
4      1wny  d1wnya_  ---EEEEEEE----------EEEEEEE------H--HEEE------...
...     ...      ...                                                ...
1343   3mqd  d3mqda1  ---EEEEEEEEEE-----HHHHHHHHHH------------------...
1344   4ead  d4eada3  ---EEEEEEE----EEEEE-HHHHHHHHHHH---------------...
1345   1kpt  d1kpta_  -----------------HHHHHHHHH-------------EEEEE--...
1346   1kqp  d1kqpa_  ---HHHHH---------HHHHHHHHHHHHHHHHHH-----EEEE--...
1347   2ebs  d2ebsa1  --EEEE------EEEEEEEE-----EEEEEE---EEEEEE----EE...

                                          J_AA Sequence
0     KNATFYLLDNDTTVDGLSAVEQLVCEIAAERWRSGKRVLIACEDEK...
1     HMDFSQLGGLLDGMKKEFSQLEEKNKDTIHTSKSGGGMVSVSFNGL...
2     MGGLLFSSLQHCQQGFVISNELRQQQSELTSTWDLMLQTRINLSRS...
3     NKTLAAMKNFAEQYAKRTDTYFCSDLSVTAVVIEGLARHKEELGSP...
4     DPSVYVRFPLKEPKKLGLEKASLLIWTTTPWTLPGNVAAAVHPEYT...
...                                                 ...
1343  MRRVVVTGMGIVSSIGSNTEEVTASLREAKSGISRAEEYAELGFRC...
1344  TAMLTKAVYADTEGFVSEMDTRALGMAVVAMGGGRRQASDTIDYSV...
1345  LGINCRGSSQCGLSGGNLMVRIRDQACGNQGQTWCPGERRAKVCGT...
1346  SMQEKIMRELHVKPSIDPKQEIEDRVNFLKQYVKKTGAKGFVLGIS...
1347  YEFKNVAIGGGGYITGIVAHPKTKDLLYARTDIGGAYRWDAGTSKW...

[1348 rows x 4 columns]