In [1]:
# Check 2cxy from AF colab
# try running DSSP on pdb file downloaded from colab

import os
import pandas as pd
from prointvar.config import config as cfg


from prointvar.dssp import DSSPrunner, DSSPreader

input_struct = os.path.join(cfg.db_root, cfg.db_pdbx, '/homes/2524591/2cxy_colab.pdb')
output_dssp = os.path.join(cfg.db_root, cfg.db_dssp, '/homes/2524591/2cxy_colab.dssp')


DSSPrunner(inputfile=input_struct, outputfile=output_dssp).write()

df = DSSPreader(inputfile=output_dssp).read(add_ss_reduced=True)
# pandas DataFrame
df.head()

# df2.to_csv('/homes/2524591/2cxy_new.csv')



df_1 = df[['SS_CLASS', 'AA']]
df_1.columns = ['colab_SS', 'colab_AA']
df_1.to_csv('/homes/2524591/data/2cxy_colab.csv')
df_1

2022-08-09 11:48:46,762 py.warnings  WARNING  /homes/2524591/miniconda3/envs/prointvar-dssp/lib/python3.10/site-packages/Bio/SubsMat/__init__.py:126: BiopythonDeprecationWarning: Bio.SubsMat has been deprecated, and we intend to remove it in a future release of Biopython. As an alternative, please consider using Bio.Align.substitution_matrices as a replacement, and contact the Biopython developers if you still need the Bio.SubsMat module.
  warnings.warn(

2022-08-09 11:48:46,780 prointvar    INFO     DSSP for /homes/2524591/2cxy_colab.dssp already available...
2022-08-09 11:48:46,781 prointvar    INFO     Parsing DSSP from lines...
2022-08-09 11:48:46,795 prointvar    INFO     DSSP added full chain...
2022-08-09 11:48:46,798 prointvar    INFO     DSSP added reduced SS...
2022-08-09 11:48:46,804 prointvar    INFO     DSSP added RSA...

    colab_SS colab_AA
0          C        G
1          C        E
2          C        K
3          C        I
4          C        T
..       ...      ...
109        C        P
110        C        P
111        C        E
112        C        V
113        C        F

[114 rows x 2 columns]

In [26]:
# Also check 2dlb

import os
import pandas as pd
from prointvar.config import config as cfg


from prointvar.dssp import DSSPrunner, DSSPreader

input_struct = os.path.join(cfg.db_root, cfg.db_pdbx, '/homes/2524591/selected_prediction_2dlb.pdb')
output_dssp = os.path.join(cfg.db_root, cfg.db_dssp, '/homes/2524591/2dlb_colab.dssp')


DSSPrunner(inputfile=input_struct, outputfile=output_dssp).write()

df2 = DSSPreader(inputfile=output_dssp).read(add_ss_reduced=True)
# pandas DataFrame
df2.head()

# df2.to_csv('/homes/2524591/2dlb_new.csv')

df_2 = df2[['SS_CLASS', 'AA']]
df_2.columns = ['colab_SS', 'colab_AA']
df_2.to_csv('/homes/2524591/data/2dlb_colab.csv')
df_2

2022-08-09 11:32:38,032 prointvar    INFO     DSSP for /homes/2524591/2dlb_colab.dssp already available...
2022-08-09 11:32:38,034 prointvar    INFO     Parsing DSSP from lines...
2022-08-09 11:32:38,051 prointvar    INFO     DSSP added full chain...
2022-08-09 11:32:38,055 prointvar    INFO     DSSP added reduced SS...
2022-08-09 11:32:38,062 prointvar    INFO     DSSP added RSA...

   colab_SS colab_AA
0         C        A
1         C        G
2         C        Y
3         C        L
4         C        N
..      ...      ...
65        C        T
66        C        E
67        C        E
68        C        L
69        C        P

[70 rows x 2 columns]

In [2]:
# 1nrj

import os
import pandas as pd
from prointvar.config import config as cfg


from prointvar.dssp import DSSPrunner, DSSPreader

input_struct = os.path.join(cfg.db_root, cfg.db_pdbx, '/homes/2524591/1nrj.pdb')
output_dssp = os.path.join(cfg.db_root, cfg.db_dssp, '/homes/2524591/1nrj_colab.dssp')


DSSPrunner(inputfile=input_struct, outputfile=output_dssp).write()

df3 = DSSPreader(inputfile=output_dssp).read(add_ss_reduced=True)
# pandas DataFrame
df3.head()

# df2.to_csv('/homes/2524591/2dlb_new.csv')

df_3 = df3[['SS_CLASS', 'AA']]
df_3.columns = ['colab_SS', 'colab_AA']
df_3.to_csv('/homes/2524591/data/1nrj_colab.csv')
df_3

2022-08-09 12:07:10,423 prointvar    INFO     DSSP for /homes/2524591/1nrj_colab.dssp already available...
2022-08-09 12:07:10,424 prointvar    INFO     Parsing DSSP from lines...
2022-08-09 12:07:10,449 prointvar    INFO     DSSP added full chain...
2022-08-09 12:07:10,455 prointvar    INFO     DSSP added reduced SS...
2022-08-09 12:07:10,462 prointvar    INFO     DSSP added RSA...

    colab_SS colab_AA
0          C        M
1          C        F
2          C        D
3          E        Q
4          E        L
..       ...      ...
142        H        F
143        H        E
144        C        Q
145        C        Y
146        C        F

[147 rows x 2 columns]

In [8]:
import os
import pandas as pd
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score, matthews_corrcoef

os.chdir('/homes/2524591/data/prointvar_col_chain')

df_pro = pd.read_csv('1nrj.csv')
df_pro

df_3 = pd.read_csv('/homes/2524591/data/1nrj_colab.csv')
df_merg = pd.concat([df_pro, df_3], axis = 1)

df_merg.to_csv('/homes/2524591/data/1nrj_merged.csv')

assert (df_merg['UniProt_dbResName'] == df_merg['colab_AA']).all()

df_merg

pred = df_merg['colab_SS']
true = df_merg['SS_CLASS']


af_acc = accuracy_score(true, pred)
print(af_acc.round(3))

0.986

In [14]:
# Find previous accuracy

os.chdir('/homes/2524591/data/prointvar_col_chain')

df_pro = pd.read_csv('1nrj.csv')
df_pro

df_3 = pd.read_csv('/homes/2524591/data/JP_shift/exact_match/both_correct/1nrj.csv')
# df_merg = pd.concat([df_pro, df_3], axis = 1)

# df_merg.to_csv('/homes/2524591/data/1nrj_merged.csv')

# assert (df_merg['UniProt_dbResName'] == df_merg['AF_predictions']).all()

df_3

pred = df_3['AF_predictions']
true = df_3['SS_CLASS']

assert (df_3['UniProt_dbResName'] == df_3['shifted Uni']).all()
af_acc = accuracy_score(true, pred)
print(af_acc.round(3))

0.238

In [34]:
# Use code from kleo (lol) to merge with ProIntVar and JPred -- take data from JP_shift/merged_jp_shift
# Get data from prointvar_col_chain
import os
import pandas as pd


os.chdir('/homes/2524591/data/prointvar_col_chain')

df_pro = pd.read_csv('2dlb.csv')
df_pro

df_2 = pd.read_csv('/homes/2524591/data/2dlb_colab.csv')
df_merg = pd.concat([df_pro, df_2], axis = 1)

df_merg.to_csv('/homes/2524591/data/2dlb_merged.csv')

assert (df_merg['UniProt_dbResName'] == df_merg['colab_AA']).all()

df_merg

,Unnamed: 0.1,Unnamed: 0,RES,CHAIN,AA,SS_CLASS,PDB_dbResNum,PDB_dbResName,PDB_dbChainId,UniProt_dbAccessionId,UniProt_dbResNum,UniProt_dbResName,PDB_codeSecondaryStructure,PDB_nameSecondaryStructure,colab_SS,colab_AA
0,0,0,2002.0,A,A,C,2002.0,ALA,A,O34498,2.0,A,T,loop,C,A
1,1,1,2003.0,A,G,E,2003.0,GLY,A,O34498,3.0,G,E,strand,C,G
2,2,2,2004.0,A,Y,E,2004.0,TYR,A,O34498,4.0,Y,E,strand,C,Y
3,3,3,2005.0,A,L,E,2005.0,LEU,A,O34498,5.0,L,E,strand,C,L
4,4,4,2006.0,A,N,E,2006.0,ASN,A,O34498,6.0,N,E,strand,C,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,65,65,2067.0,A,T,E,2067.0,THR,A,O34498,67.0,T,E,strand,C,T
66,66,66,2068.0,A,E,E,2068.0,GLU,A,O34498,68.0,E,E,strand,C,E
67,67,67,2069.0,A,E,E,2069.0,GLU,A,O34498,69.0,E,E,strand,C,E
68,68,68,2070.0,A,L,C,2070.0,LEU,A,O34498,70.0,L,T,loop,C,L
69,69,69,2071.0,A,P,C,2071.0,PRO,A,O34498,71.0,P,T,loop,C,P

In [4]:
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score, matthews_corrcoef
import os
import pandas as pd

os.chdir('/homes/2524591/data/prointvar_col_chain')

df_pro = pd.read_csv('2cxy.csv')
df_pro
df_1 = pd.read_csv('/homes/2524591/data/2cxy_colab.csv')
df_merg = pd.concat([df_pro, df_1], axis = 1)

df_merg.to_csv('/homes/2524591/data/2cxy_merged.csv')

assert (df_merg['UniProt_dbResName'] == df_merg['colab_AA']).all()

df_merg


pred = df_merg['colab_SS']
true = df_merg['SS_CLASS']

# comp.append((df['SS_CLASS'].value_counts(normalize=True) * 100).round(1))



af_acc = accuracy_score(true, pred)
print(af_acc.round(3))

0.956

In [8]:
# Sequences are the same, calculate accuracies
# 2dlb

from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score, matthews_corrcoef
import os
import pandas as pd

os.chdir('/homes/2524591/data/prointvar_col_chain')

df_pro = pd.read_csv('2dlb.csv')
df_pro
df_2 = pd.read_csv('/homes/2524591/data/2dlb_colab.csv')
df_merg = pd.concat([df_pro, df_2], axis = 1)

df_merg.to_csv('/homes/2524591/data/2dlb_merged.csv')

assert (df_merg['UniProt_dbResName'] == df_merg['colab_AA']).all()

df_merg


pred = df_merg['colab_SS']
true = df_merg['SS_CLASS']

# comp.append((df['SS_CLASS'].value_counts(normalize=True) * 100).round(1))



af_acc = accuracy_score(true, pred)
print(af_acc.round(3))

0.514

In [1]:
# 3axj

import os
import pandas as pd
from prointvar.config import config as cfg


from prointvar.dssp import DSSPrunner, DSSPreader

input_struct = os.path.join(cfg.db_root, cfg.db_pdbx, '/homes/2524591/data/AF_colab/3axj_pred.pdb')
output_dssp = os.path.join(cfg.db_root, cfg.db_dssp, '/homes/2524591/data/AF_colab/3axj.dssp')

DSSPrunner(inputfile=input_struct, outputfile=output_dssp).write()

df = DSSPreader(inputfile=output_dssp).read(add_ss_reduced=True)
# pandas DataFrame
df.head()

# df2.to_csv('/homes/2524591/2cxy_new.csv')



df_1 = df[['SS_CLASS', 'AA']]
df_1.columns = ['colab_SS', 'colab_AA']
df_1.to_csv('/homes/2524591/data/AF_colab/3axj_colab.csv')
df_1

2022-08-11 15:01:08,581 py.warnings  WARNING  /homes/2524591/miniconda3/envs/prointvar-dssp/lib/python3.10/site-packages/Bio/SubsMat/__init__.py:126: BiopythonDeprecationWarning: Bio.SubsMat has been deprecated, and we intend to remove it in a future release of Biopython. As an alternative, please consider using Bio.Align.substitution_matrices as a replacement, and contact the Biopython developers if you still need the Bio.SubsMat module.
  warnings.warn(

2022-08-11 15:01:11,214 prointvar    INFO     Parsing DSSP from lines...
2022-08-11 15:01:11,240 prointvar    INFO     DSSP added full chain...
2022-08-11 15:01:11,245 prointvar    INFO     DSSP added reduced SS...
2022-08-11 15:01:11,251 prointvar    INFO     DSSP added RSA...

    colab_SS colab_AA
0          C        M
1          C        S
2          C        N
3          C        F
4          C        V
..       ...      ...
230        C        V
231        C        P
232        C        A
233        C        T
234        C        E

[235 rows x 2 columns]

In [8]:
# 3axj cont.

from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score, matthews_corrcoef
import os
import pandas as pd

os.chdir('/homes/2524591/data/prointvar_col_chain')

df_pro = pd.read_csv('3axj.csv')
df_pro
df_2 = pd.read_csv('/homes/2524591/data/AF_colab/3axj_colab.csv')
df_merg = pd.concat([df_pro, df_2], axis = 1)

df_merg = df_merg.dropna()

df_merg.to_csv('/homes/2524591/data/AF_colab/3axj_merged.csv')

assert (df_merg['UniProt_dbResName'] == df_merg['colab_AA']).all()

df_merg


pred = df_merg['colab_SS']
true = df_merg['SS_CLASS']

# comp.append((df['SS_CLASS'].value_counts(normalize=True) * 100).round(1))



af_acc = accuracy_score(true, pred)
print(af_acc.round(3))

0.964

In [1]:
# 1wdd

import os
import pandas as pd
from prointvar.config import config as cfg
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score, matthews_corrcoef
from prointvar.dssp import DSSPrunner, DSSPreader

input_struct = os.path.join(cfg.db_root, cfg.db_pdbx, '/homes/2524591/data/AF_colab/1wdd.pdb')
output_dssp = os.path.join(cfg.db_root, cfg.db_dssp, '/homes/2524591/data/AF_colab/1wdd.dssp')

DSSPrunner(inputfile=input_struct, outputfile=output_dssp).write()

df = DSSPreader(inputfile=output_dssp).read(add_ss_reduced=True)
# pandas DataFrame
df.head()

# df2.to_csv('/homes/2524591/2cxy_new.csv')



df_1 = df[['SS_CLASS', 'AA']]
df_1.columns = ['colab_SS', 'colab_AA']
df_1.to_csv('/homes/2524591/data/AF_colab/1wdd_colab.csv')
df_1

2022-08-12 11:51:49,955 py.warnings  WARNING  /homes/2524591/miniconda3/envs/prointvar-dssp/lib/python3.10/site-packages/Bio/SubsMat/__init__.py:126: BiopythonDeprecationWarning: Bio.SubsMat has been deprecated, and we intend to remove it in a future release of Biopython. As an alternative, please consider using Bio.Align.substitution_matrices as a replacement, and contact the Biopython developers if you still need the Bio.SubsMat module.
  warnings.warn(

2022-08-12 11:51:50,216 prointvar    INFO     Parsing DSSP from lines...
2022-08-12 11:51:50,232 prointvar    INFO     DSSP added full chain...
2022-08-12 11:51:50,236 prointvar    INFO     DSSP added reduced SS...
2022-08-12 11:51:50,242 prointvar    INFO     DSSP added RSA...

    colab_SS colab_AA
0          C        V
1          C        G
2          C        F
3          C        K
4          C        A
..       ...      ...
135        C        K
136        C        T
137        C        F
138        C        Q
139        C        G

[140 rows x 2 columns]

In [3]:
# 1wdd cont.

os.chdir('/homes/2524591/data/prointvar_col_chain')

df_pro = pd.read_csv('1wdd.csv')
df_pro
df_2 = pd.read_csv('/homes/2524591/data/AF_colab/1wdd_colab.csv')
df_merg = pd.concat([df_pro, df_2], axis = 1)

df_merg = df_merg.dropna()

df_merg.to_csv('/homes/2524591/data/AF_colab/1wdd_merged.csv')

assert (df_merg['UniProt_dbResName'] == df_merg['colab_AA']).all()

df_merg


pred = df_merg['colab_SS']
true = df_merg['SS_CLASS']



af_acc = accuracy_score(true, pred)
print(af_acc.round(3))

0.929

In [4]:
# Check 1hbn


import os
import pandas as pd
from prointvar.config import config as cfg
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score, matthews_corrcoef
from prointvar.dssp import DSSPrunner, DSSPreader

input_struct = os.path.join(cfg.db_root, cfg.db_pdbx, '/homes/2524591/data/AF_colab/1hbn.pdb')
output_dssp = os.path.join(cfg.db_root, cfg.db_dssp, '/homes/2524591/data/AF_colab/1hbn.dssp')

DSSPrunner(inputfile=input_struct, outputfile=output_dssp).write()

df = DSSPreader(inputfile=output_dssp).read(add_ss_reduced=True)
# pandas DataFrame
df.head()

# df2.to_csv('/homes/2524591/2cxy_new.csv')



df_1 = df[['SS_CLASS', 'AA']]
df_1.columns = ['colab_SS', 'colab_AA']
df_1.to_csv('/homes/2524591/data/AF_colab/1hbn.csv')
df_1

2022-08-12 11:53:05,139 prointvar    INFO     Parsing DSSP from lines...
2022-08-12 11:53:05,159 prointvar    INFO     DSSP added full chain...
2022-08-12 11:53:05,164 prointvar    INFO     DSSP added reduced SS...
2022-08-12 11:53:05,175 prointvar    INFO     DSSP added RSA...

    colab_SS colab_AA
0          C        A
1          C        D
2          H        K
3          H        L
4          H        F
..       ...      ...
263        C        T
264        C        Y
265        C        L
266        C        P
267        C        V

[268 rows x 2 columns]

In [5]:
# 1hbn cont.

os.chdir('/homes/2524591/data/prointvar_col_chain')

df_pro = pd.read_csv('1hbn.csv')
df_pro
df_2 = pd.read_csv('/homes/2524591/data/AF_colab/1hbn.csv')
df_merg = pd.concat([df_pro, df_2], axis = 1)

df_merg = df_merg.dropna()

df_merg.to_csv('/homes/2524591/data/AF_colab/1hbn_merged.csv')

assert (df_merg['UniProt_dbResName'] == df_merg['colab_AA']).all()

df_merg


pred = df_merg['colab_SS']
true = df_merg['SS_CLASS']



af_acc = accuracy_score(true, pred)
print(af_acc.round(3))

0.97